<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets/images/Vector.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://res.cloudinary.com/dpxek6oka/raw/upload/v1643485116/normalize_ej2ndq.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Juego ahorcado</title>
</head>

<body>
    <header class="container-header">
        <a href="../index.html">
            <img src="../assets/images/Vector.webp" alt="Logo alura" decoding="async" loading="lazy">
        </a>
    </header>

    <main class="container-main container-main--height">
        <section class="container-section-game">
            <article class="container-canvas-game">
                <canvas width="250" height="250"></canvas>

                <div class="container-word-secret" id="container-word-secret"></div>

                <p id="cantidad-intentos">
                    Cantidad de intentos: 10
                </p>
            </article>

            <article class="container-buttons-game">
                <button id="A" class="container-buttons-game__btn">
                    A
                </button>
                <button id="B" class="container-buttons-game__btn">B</button>
                <button id="C" class="container-buttons-game__btn">C</button>
                <button id="D" class="container-buttons-game__btn">D</button>
                <button id="E" class="container-buttons-game__btn">E</button>
                <button id="F" class="container-buttons-game__btn">F</button>
                <button id="G" class="container-buttons-game__btn">G</button>
                <button id="H" class="container-buttons-game__btn">H</button>
                <button id="I" class="container-buttons-game__btn">I</button>
                <button id="J" class="container-buttons-game__btn">J</button>
                <button id="K" class="container-buttons-game__btn">K</button>
                <button id="L" class="container-buttons-game__btn">L</button>
                <button id="M" class="container-buttons-game__btn">M</button>
                <button id="N" class="container-buttons-game__btn">N</button>
                <button id="Ñ" class="container-buttons-game__btn">Ñ</button>
                <button id="O" class="container-buttons-game__btn">O</button>
                <button id="P" class="container-buttons-game__btn">P</button>
                <button id="Q" class="container-buttons-game__btn">Q</button>
                <button id="R" class="container-buttons-game__btn">R</button>
                <button id="S" class="container-buttons-game__btn">S</button>
                <button id="T" class="container-buttons-game__btn">T</button>
                <button id="U" class="container-buttons-game__btn">U</button>
                <button id="V" class="container-buttons-game__btn">V</button>
                <button id="W" class="container-buttons-game__btn">W</button>
                <button id="X" class="container-buttons-game__btn">X</button>
                <button id="Y" class="container-buttons-game__btn">Y</button>
                <button id="Z" class="container-buttons-game__btn">Z</button>
            </article>

            <article class="container-article-options-game">
                <button class="container-article-options-game__btn" id="btn-new-game">
                    Nuevo juego
                </button>
                <a href="../index.html" class="container-article-options-game__link">
                    Desistir
                </a>
            </article>
        </section>
    </main>

    <footer class="container-footer">
        <p class="container-paragraph-footer">
            &copy; Diseñado por
            <a href="https://github.com/DanielAlfaro2222?tab=repositories" target="_blank" rel="noopener"
                class="container-paragraph-footer__link">
                Daniel Alfaro
            </a> 2022
        </p>
    </footer>

    <script type="module"  src="../js/juego.js"></script>
    <script type="module"  src="../js/canvas.js"></script>
</body>

</html>