@use '../helpers/placeholder' as *;
@use '../config/config' as *;
@use '../helpers/mixin' as *;

.container-article-options {
    width: 100%;

    &__link,
    &__btn {
        @extend %btn-movil;
    }

    &__btn {
        @extend %btn-bg-color-blue;
    }

    &__link {
        @extend %btn-bg-color-white;
    }

    @include media-query(600px) {

        &__link,
        &__btn {
            max-width: 230px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}