@use '../helpers/placeholder' as *;
@use '../helpers/mixin' as *;
@use '../config/config' as *;

.container-section-new-word {
    width: 100%;

    @include media-query(600px) {
        max-width: 430px;
    }

    @include media-query(1200px) {
        max-width: 500px;
    }
}

.container-article-new-word {

    &__link,
    &__btn {
        @extend %btn-movil;
    }

    &__btn {
        @extend %btn-bg-color-blue;
    }

    &__link {
        @extend %btn-bg-color-white;
    }

    @include media-query(600px) {
        @include flex-mixin($justify-content: space-between);

        &__link,
        &__btn {
            max-width: 230px;
        }
    }

    @include media-query(800px) {
        column-gap: 1.2em;
    }
}

.container-form-new-word__textarea {
    width: 100%;
    resize: none;
    background-color: transparent;
    font-size: 1.4rem;
    border: none;
    color: $bgcolor-bottom-blue;

    &:focus {
        outline: none;
    }
}

.container-info-new-word {
    width: 100%;
    @include flex-mixin($align-items: center);
    font-size: .8rem;
    color: $color-font-gray;
    margin-bottom: 0;

    &__icon {
        margin-right: .5em;
        font-size: 1.1rem;
    }

    @include media-query(1000px) {
        font-size: .9rem;
    }
}