@use './mixin' as *;
@use '../config/config' as *;

%btn-movil {
    @include button-mixin();
    margin-top: 1.3em;
}

%btn-bg-color-blue {
    color: white;
    background-color: $bgcolor-bottom-blue;
}

%btn-bg-color-white {
    color: $bgcolor-bottom-blue;
    border: 1px solid $bgcolor-bottom-blue;
    background-color: transparent;
}

%btn-game-movil {
    @include button-mixin($width: 30px, $height: 30px, $font-size: .84rem, $border-radius: .4em);
}

%btn-game-movil-deactivate {
    @extend %btn-game-movil;
    background-color: gray;
    pointer-events: none;
}